@import "./common";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";

.header {
  text-align: center;
}
.Tags,
.startdate,
.enddate{
display: block;
width: 300px;
margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}
